<div class="site-nav__bar">
  <a class="site-nav__brand" href="index.html">
    <span class="site-nav__brand-mark">ASCM</span>
    <span class="site-nav__brand-tag">Contadores Associados</span>
  </a>
  <button
    type="button"
    class="site-nav__toggle"
    data-nav-toggle
    aria-expanded="false"
    aria-controls="site-nav-panel"
  >
    <span class="site-nav__toggle-box" aria-hidden="true">
      <span class="site-nav__toggle-line"></span>
      <span class="site-nav__toggle-line"></span>
    </span>
    <span class="site-nav__toggle-label">Menu</span>
  </button>
</div>
<nav class="site-nav__panel" id="site-nav-panel" data-nav-panel hidden aria-label="Principal">
  <ul class="site-nav__list">
    <li>
      <a class="site-nav__link" href="index.html" data-nav-link="home">
        <ion-icon class="site-nav__link-icon" name="home-outline" aria-hidden="true"></ion-icon>
        <span class="site-nav__link-text">Home</span>
      </a>
    </li>
    <li>
      <a class="site-nav__link" href="quem-somos.html" data-nav-link="quem-somos">
        <ion-icon class="site-nav__link-icon" name="document-text-outline" aria-hidden="true"></ion-icon>
        <span class="site-nav__link-text">Quem Somos</span>
      </a>
    </li>
    <li>
      <a class="site-nav__link" href="areas.html" data-nav-link="areas">
        <ion-icon class="site-nav__link-icon" name="receipt-outline" aria-hidden="true"></ion-icon>
        <span class="site-nav__link-text">Áreas de Atuação</span>
      </a>
    </li>
    <li>
      <a class="site-nav__link" href="profissionais.html" data-nav-link="profissionais">
        <ion-icon class="site-nav__link-icon" name="people-outline" aria-hidden="true"></ion-icon>
        <span class="site-nav__link-text">Profissionais</span>
      </a>
    </li>
    <li>
      <a class="site-nav__link" href="clientes.html" data-nav-link="clientes">
        <ion-icon class="site-nav__link-icon" name="business-outline" aria-hidden="true"></ion-icon>
        <span class="site-nav__link-text">Clientes</span>
      </a>
    </li>
    <li>
      <a class="site-nav__link" href="contato.html" data-nav-link="contato">
        <ion-icon class="site-nav__link-icon" name="mail-outline" aria-hidden="true"></ion-icon>
        <span class="site-nav__link-text">Contato</span>
      </a>
    </li>
  </ul>
</nav>
